.App {
  text-align: center;
}
h1{
  font-family: 'Courier New', Courier, monospace;
  color: white;
  background-color: cadetblue;
}
p{
  background-color: white;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
}